 :root {
     --bg-color: #22242b;
     --header-text: #fcefff;
     --amount-text: #fff8ef;
     --result-text: #c9beaf;
     --country-text: #fcefff;
     --modal-text: rgb(204, 197, 197);
     --modal-header-text: rgb(233, 227, 227);
     --blinking-cursor-low: rgb(255, 255, 255, 0.0);
     --blinking-cursor-hi: #fcfcfc;
     --shimmer-effect: #837a8a;
     --li-box-shadow-low: rgba(0, 0, 0, 0.4);
     --li-box-shadow-hi: rgba(247, 238, 238, 0.5);
     --li-lin-grad-low: rgba(65, 63, 63, 0.22);
     --li-lin-grad-hi: #ffffff40;
 }
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal-content {
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);

    padding: 0 10px 0 10px;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* color: var(--modal-header-text);
     */
     color:#ccc7bd;
    border-radius: 20px;
    cursor: default;
    border: 0px;
    background: linear-gradient(-45deg, rgb(26, 26, 26),#646464);
    box-shadow: 4px 2px 2px 0 var(--li-box-shadow-low), -2px -1px 2px 0 var(--li-box-shadow-hi);
    width: 22em;
    
}

.modal.enter-done .modal-content {
    transform: translateY(0);
}

.modal.exit .modal-content {
    transform: translateY(-200px);
}

.modal-header,
.modal-footer {
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 3px solid var(--li-lin-grad-hi);
    border-bottom: 3px solid var(--li-lin-grad-hi);
}
#amtInput {
    height: 50px;
    font-size: 2rem;
    font-weight: 500;
    width: 90%;
    color: rgb(95, 91, 91);
    /* background-color: var(--result-text); */
    background-color: rgb(199, 193, 189);
}
/* curreny symbol left of input on the modal */
#symbol {
    margin-right: 10px;
    font-size: 2rem;
    color: var(--modal-text);
}
.button {
    padding: 0 10px 0 10px;
    margin-left: auto;
    color: var(--modal-text);
    border-radius: 25px;
    cursor: default;
    border: 0px;
    background: linear-gradient(-45deg, rgb(41, 41, 41), #646464);
    box-shadow: 4px 2px 2px 0 var(--li-box-shadow-low), -2px -1px 2px 0 var(--li-box-shadow-hi);
    width: 20%;
    margin-right: 20px;
}
.button:hover{
    text-shadow: 0 0 5px var(--modal-text);
}