.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.list-group {
  width: 100%;
}
.li-container {
  padding: 5px;
}
label {
  margin: 0 10px;
  display: grid;
  text-align: left;
}
input {
  width: 200px;
  height: 60px;
}
select {
  width: 200px;
  height: 60px;
}
button {
  width: 60px;
  margin: 30px 10px 0px;
}
.results {
  margin: 10px 0px;
  font-size: 30px;
  /* border: 2px red solid; */
  height: 50px;
}
small {
  margin: 5px;
}
big {
  margin-top: -6px;
  font-size : 60px;
}
.flag{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  font-size: 3em;
}
.item-text {
padding-left: 5px;
}
.amount-result {
  margin: auto 0px auto auto;
}
/* BASE CURRENCY AND TOP LI */
/* TOP LI */
li.list-group-item:nth-child(1) {
  box-shadow: 5px 5px 15px 5px #B9DDFF;
}
/* TOP LI AMOUNT */
li.list-group-item:nth-child(1) > span:nth-child(1) > span:nth-child(3) {
  color: red;

}
.hide{
  display: none;
}
/* NUMBER INPUT AND OVERLAY*/
#amtInput {
  z-index: 10;
  width: 135px;
  position: absolute;
  top: 19%;
  right: 10px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
/*
style the num input 
add keypress event listner
check for accessability
change the title
  create a neumorphic theme
    spread out LIs
    change bg and li color to same
    color text
    neumorphic drop shadows for LIs
    flag hover states
    visual indicator that amount is editable
  css transitions maybe add framer motion ?
  

*/