 /* #343A40 */
 /* 343A40 */
 :root {
  --bg-color: #22242b;
  --header-text: #fcefff;
  --amount-text: #fff8ef;
  --result-text: #c9beaf;
  --country-text: #fcefff;
  --blinking-cursor-low:rgb(255, 255, 255, 0.0);
  --blinking-cursor-hi: #fcfcfc;
  --shimmer-effect: #837a8a;
  --li-box-shadow-low: rgba(0, 0, 0, 0.4);
  --li-box-shadow-hi: rgba(247, 238, 238, 0.5);
  --li-lin-grad-low: rgba(65, 63, 63, 0.22);
  --li-lin-grad-hi: #ffffff40;
}

 #title {
   padding: 0 10px 0 10px;
   margin: 10px 0 0 0;
   color: var(--header-text);
   border-radius: 20px;
   cursor: default;
   border: 0px;
   background: linear-gradient(-45deg, var(--li-lin-grad-low), var(--li-lin-grad-hi));
   box-shadow: 4px 2px 2px 0 var(--li-box-shadow-low),  -2px -1px 2px 0 var(--li-box-shadow-hi);
 }
.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 2vmin);
  /* LIST ITEMS */
}
/* COUNTRY NAME */
div.country-name {
  color: var(--country-text);
  cursor: pointer;
}
/* SHIMMER EFFECT HOVER COUNTRY NAME */
span.item-containter.d-flex:hover div.item-text div.country-name {
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, 
              from(#fff8ef), to(#fff8ef), 
              color-stop(0.5, var(--shimmer-effect))
              );
  background-size: 125px 100%;
  background-clip: text;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #fff8ef;
}
@keyframes shimmer {
  0% {
    background-position: top left -50px;
  }
  100% {
    background-position: top right -200px;
  }
  
}
  li.list-group-item.li-container {
    border: none;
    background-color: var(--bg-color);
    padding: 5px 10px 5px 10px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background: linear-gradient(-45deg, var(--li-lin-grad-low), var(--li-lin-grad-hi));
    box-shadow: 6px 3px 10px 0 var(--li-box-shadow-low),  -3px -3px 4px 0 var(--li-box-shadow-hi);
  }
div.small.text-muted.rate {
  font-size: 60%;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.results {
  margin: 10px 0px;
  font-size: 30px;
  /* border: 2px red solid; */
  height: 50px;
}
.flag{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  font-size: 3em;
  cursor: pointer;
  position:relative;
  left: 0;
  transition: ease 0.2s;
}
span.item-containter.d-flex:hover span.flag-icon {
  left: 3px;
}
.item-text {
padding-left: 5px;

}
.amount-result {
  margin: auto 0px auto auto;
  color: var(--result-text);
}
/* BASE CURRENCY AND TOP LI */
/* TOP LI */
li.list-group-item:nth-child(1) {
  /* EMPTY, FOR USE LATER */
}
/* TOP LI $CURRENCY AMOUNT */
li.list-group-item:nth-child(1) > span:nth-child(1) > span:nth-child(3) {
  color: var(--amount-text);
  cursor: pointer;
}
/* BLINKING CURSOR AT TOP LI */
li.list-group-item:nth-child(1) > span:nth-child(1) > span:nth-child(3)::before {
  content: "|";
  font-weight: 100;
  font-size: 1em;
  animation: 1s blink step-end infinite;
  position: absolute;
}
@keyframes blink {
  from, to {
    color: var(--blinking-cursor-low);
  }
  50% {
    color: var(--blinking-cursor-hi);
  }
}
.hide{
  display: none;
}
/* NUMBER INPUT AND OVERLAY*/
#amtInput {
  z-index: 10;
  width: 135px;
  position: absolute;
  top: 30%;
  right: 10px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole;; page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
/* USED TO REFERENCE DOM LATER  */
#parent {
  
}

/* 100% — FF
99% — FC
98% — FA
97% — F7
96% — F5
95% — F2
94% — F0
93% — ED
92% — EB
91% — E8
90% — E6
89% — E3
88% — E0
87% — DE
86% — DB
85% — D9
84% — D6
83% — D4
82% — D1
81% — CF
80% — CC
79% — C9
78% — C7
77% — C4
76% — C2
75% — BF
74% — BD
73% — BA
72% — B8
71% — B5
70% — B3
69% — B0
68% — AD
67% — AB
66% — A8
65% — A6
64% — A3
63% — A1
62% — 9E
61% — 9C
60% — 99
59% — 96
58% — 94
57% — 91
56% — 8F
55% — 8C
54% — 8A
53% — 87
52% — 85
51% — 82
50% — 80
49% — 7D
48% — 7A
47% — 78
46% — 75
45% — 73
44% — 70
43% — 6E
42% — 6B
41% — 69
40% — 66
39% — 63
38% — 61
37% — 5E
36% — 5C
35% — 59
34% — 57
33% — 54
32% — 52
31% — 4F
30% — 4D
29% — 4A
28% — 47
27% — 45
26% — 42
25% — 40
24% — 3D
23% — 3B
22% — 38
21% — 36
20% — 33
19% — 30
18% — 2E
17% — 2B
16% — 29
15% — 26
14% — 24
13% — 21
12% — 1F
11% — 1C
10% — 1A
9% — 17
8% — 14
7% — 12
6% — 0F
5% — 0D
4% — 0A
3% — 08
2% — 05
1% — 03
0% — 00 */
